.App {
  text-align: center;
}

.App-logo {
  animation: bounce 2s;
  animation-iteration-count: infinite;
  height: 40vmin;
}

@-webkit-keyframes grow {
  from {
    -webkit-transform:scale(0.5);
  }
  to {
    -webkit-transform:scale(1);
  }
  to {
    -webkit-transform:scale(0.5);
  }
}

.bounce {
  animation: bounce 2s;
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-12px);
  }
}

.App-header {
  background-color: #2D2424;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.groundhog-brown {
  color: #2D2424;
}

.groundhog-green {
  color: #5BC461;
}

.groundhog-blue {
  color: aqua;
}
